@model IEnumerable<Game>;

<a type="button" class="btn btn-success mb-3" asp-area="Admin" asp-controller="Game" asp-action="Create">Create Game</a>
<table class="table">
    <thead>
        <tr>
            <th scope="col">Id</th>
            <th scope="col">Title</th>
            <th scope="col">Description</th>
            <th scope="col">Image</th>
            <th scope="col">GameId</th>
        </tr>
    </thead>
    <tbody>
        @foreach(Game item in Model)
        {
            <tr>
                <th scope="row">@item.Id</th>
                <td>@item.Title</td>
                <td>@item.Description</td>
                <td><img src="~/assets/images/@item.ImageUrl" width="40"/></td>
                <td>@item.GameId</td>
                <td><a class="btn btn-primary">Update</a></td>
                <td><a class="btn btn-primary" asp-area="Admin" asp-controller="Game" asp-action="Delete" asp-route-id="@item.Id">Delete</a></td>
            </tr>
        }
      
    </tbody>
</table>